<%= render "shared/header" %>

<div class="auth-box group">
  <img src="<%= asset_path('login-devices.png') %>" class="auth-image">
  <h2>Welcome back.<br />Login to get your fix.</h2>
  <%= render "shared/login_errors" %>
  <%= render "shared/login_form", new_user: false %>
</div>
