/* AUTH */
/* line 4, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
.auth-image {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

/* line 11, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
.auth-box {
  display: block;
  margin: auto;
  width: 300px;
  background: white;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* line 21, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
.auth-box > h2 {
  font-size: 20px;
  text-align: center;
}

/* line 25, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
input.auth-email, input.auth-password {
  font-size: 14px;
  width: 252px;
  padding: 12px 18px;
  background: white;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* line 35, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
input.auth-submit {
  cursor: pointer;
  width: 290px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 18px;
  background: #2BB24C;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

/* line 48, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
input.auth-submit:hover {
  background: #249540;
}

/* line 52, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
.auth-signup-link {
  text-align: center;
  color: #848484;
}

/* ERRORS */
/* line 59, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/auth.css.scss */
.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
/* CATEGORIES */
/* line 8, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.categories-list {
  line-height: 28px;
}

/* line 12, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.category-item {
  width: 100%;
  display: block;
  font-weight: bold;
}

/* line 18, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.category-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* line 22, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.category-text {
  float: left;
  text-align: left;
}

/* line 27, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.category-edit {
  margin-left: 200px;
  font-weight: normal;
}

/* line 32, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.category-edit:hover {
  text-decoration: underline;
}

/* line 36, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.icon {
  display: block;
  opacity: 0.3;
  width: 28px;
  height: 28px;
  float: left;
  padding-right: 4px;
  -webkit-background-size: 28px 28px;
  background-size: 28px 28px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2028%2028%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eright-arrow-dark%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22right-arrow%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20fill%3D%22%23000000%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17.0013568%2C8.00002982%20L10.9997316%2C13.995393%20L17.0007604%2C20%20L18.2662692%2C18.7350875%20L13.5304512%2C13.9962876%20L18.2659711%2C9.26553869%20L17.0013568%2C8.00002982%20Z%22%20id%3D%22Collection---Closed%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2814.633000%2C%2014.000015%29%20rotate%28-180.000000%29%20translate%28-14.633000%2C%20-14.000015%29%20%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* line 49, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.categories-add {
  cursor: pointer;
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
}

/* line 62, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.categories-add:hover {
  border: 1px solid #999;
}

/* FORMS */
/* line 68, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.form-add-category,
.form-edit-category {
  text-align: center;
  display: block;
  padding: 100px 20px 20px 20px;
  background: #FFF;
  height: 100vh;
}

/* line 77, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.form-add-category > input,
.form-edit-category > input {
  padding: 6px;
  font-size: 48px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

/* line 86, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.form-add-category > button,
.form-edit-category > button {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 18px;
  background: #2BB24C;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
}

/* line 100, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.form-add-category > button:hover,
.form-edit-category > button:hover {
  background: #249540;
}

/* line 105, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.button-danger {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 18px;
  background: #CCC;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
}

/* line 118, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/categories.css.scss */
.button-danger:hover {
  background: #990000;
}
/* CONTENT */
/* line 4, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/content.css.scss */
.content-sidebar-container {
  float: left;
  background: #EFEFEF;
  display: block;
  width: 228px;
  padding-right: 23px;
  padding-left: 17px;
  overflow-y: auto;
  height: 100vh;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.63);
  line-height: 28px;
}

/* line 18, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/content.css.scss */
.content-main-container {
  background: #FFFFFF;
  margin-left: 268px;
}

/* line 23, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/content.css.scss */
.articles {
  width: 714px;
  margin: auto;
}

/* line 28, /Users/Alex/Dropbox/Documents/Code_Playground/news_junkie/app/assets/stylesheets/content.css.scss */
.sidebar-link {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 33px;
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 /* RESET */


 body, input, label, h1, img, a, ul, li {
   padding: 0;
   margin: 0;
   outline: 0;
   border: 0;
   background: transparent;
   font-style: inherit;
   font-size: inherit;
   font-family: inherit;
   color: inherit;
   list-style: none;
   text-decoration: none;
 }

 /* ELEMENTS */

 html {
   height: 100%;
 }

 body {
   height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Helvetica Nue', sans-serif;
   font-size: 18px;
   color: #494949;
   line-height: 1.16666666;
   background-size: auto;
   background: linear-gradient( 135deg, #fff, #F2F2F2 );
 }

 /* CLEARFIX */

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 /* LOGO */

 .logo {
   font-family: 'Helvetica Nue', sans-serif;
   font-weight: bold;
   letter-spacing: -1px;
   /*color: #000;*/
   text-align: left;
   margin-left: 20px;
   padding: 20px 20px 25px 20px;
   font-size: 36px;
 }
