<%= render "shared/header" %>

<div class="auth-box group">
  <img src="<%= asset_path('login-devices.png') %>" class="auth-image">
  <h2>Create your account and get your fix anywhere.</h2>
  <%= render "shared/login_errors" %>
  <%= render "shared/login_form", new_user: true %>
</div>
