/* AUTH */

.auth-image {
  background-image: url(image_path('login-devices.png'));
  background-size: 300px;
  display: block;
  margin: auto;
  width: 300px;
  height: 148px;
}

.auth-box {
  display: block;
  margin: auto;
  width: 300px;
  background: white;;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-box > h2 {
  font-size: 20px;
  text-align: center;
}
input.auth-email, input.auth-password {
  text-align: left;
  font-size: 14px;
  width: 252px;
  padding: 12px 18px;
  background: white;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button.auth-submit,
input.auth-submit {
  text-align: center;
  cursor: pointer;
  width: 290px;
  padding: 12px 18px;
  background: #2BB24C;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

button.auth-submit:hover,
input.auth-submit:hover {
  background: #249540;
}

button.auth-facebook {
  background-color: #4963A4;
  text-align: center;
  cursor: pointer;
  width: 290px;
  padding: 12px 18px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

button.auth-facebook:hover {
  background-color: #3A4F82;
}

.auth-signup-link {
  text-align: center;
  color: #848484;
  text-decoration: underline;
}

/* ERRORS */

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
