/* RESET */

body, input, label, h1, img, a {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

/* ELEMENTS */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Helvetica Nue', sans-serif;
  font-size: 18px;
  color: #494949;
  line-height: 1.16666666;
  background-size: auto;
  background: linear-gradient( 135deg, #fff, #F2F2F2 );
}

input {

}

header {

}

/* ERRORS */

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}

/* LOGIN */

.auth-image {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.auth-box {
  display: block;
  margin: auto;
  width: 300px;
  background: white;;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-box > h2 {
  font-size: 20px;
  text-align: center;
}
input.auth-email, input.auth-password {
  font-size: 14px;
  width: 252px;
  padding: 12px 18px;
  background: white;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input.auth-submit {
  cursor: pointer;
  width: 290px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 18px;
  background: #2BB24C;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

input.auth-submit:hover {
  background: #249540;
}

.auth-signup-link {
  text-align: center;
  color: #848484;
}
