/* AUTH */

.auth-image {
  display: block;
  margin: auto;
  width: 300px;
  height: auto;
}

.auth-box {
  display: block;
  margin: auto;
  width: 300px;
  background: white;;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.auth-box > h2 {
  font-size: 20px;
  text-align: center;
}
input.auth-email, input.auth-password {
  text-align: left;
  font-size: 14px;
  width: 252px;
  padding: 12px 18px;
  background: white;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input.auth-submit {
  text-align: center;
  cursor: pointer;
  width: 290px;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 18px;
  background: #2BB24C;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

input.auth-submit:hover {
  background: #249540;
}

.auth-signup-link {
  text-align: center;
  color: #848484;
  text-decoration: underline;
}

/* ERRORS */

.error {
  color: red;
  text-align: center;
  font-size: 14px;
}
