 /* CONTENT */

.sidebar-container {
  float: left;
  background: #EFEFEF;
  display: block;
  width: 228px;
  padding-right: 23px;
  padding-left: 17px;
  overflow-y: auto;
  height: 100vh;
  font-size: 13px;
  color: rgba( 0, 0, 0, 0.63 );
  line-height: 28px;
}

.main-container {
  background: #FFFFFF;
  margin-left: 268px;
}

.content {
  width: 714px;
  margin: auto;
  padding-left: 33px;
}

.sidebar-link {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 33px;
  width: 100%;
}
