/* FORMS */

.form-container {
  width: 414px;
  height: 100vh;
  margin: auto;
  padding-top: 30px;
}

form {
  display: inline-block;
  margin: auto;
  text-align: center;
}

form > input,
form > select {
  display: block;
  margin: auto;
  width: 400px;

  padding: 6px;
  font-size: 48px;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
}

.form-controls {
  display: inline-block;
  margin: 10px auto;
  width: auto;
}

.form-controls > select {
  display: inline-block;
  width: auto;
  float: left;
  margin: 0 5px;

  font-size: 32px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-controls > button {
  display: inline-block;
  width: auto;
  float: left;
  margin: 0 5px;

  cursor: pointer;
  padding: 13px 18px;
  background: #2BB24C;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
}

.form-controls > button:hover {
  background: #249540;
}

.form-controls > .button-danger {
  display: inline-block;
  width: auto;
  float: left;
  margin: 0 5px;

  cursor: pointer;
  padding: 13px 18px;
  background: #CCC;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: none;
}

.form-controls > .button-danger:hover {
  background: #990000;
}

.starter-pack-grid {
  // display: inline-block;
  // text-align: center;
}

// .starter-pack {
//   background: #2BB24C;
//   display: block;
//   float: left;
//   padding: 20px;
//   height: 147px;
//   width: 147px;
//   margin: 10px;
//   color: #FFF;
//   font-size: 32px;
//   font-weight: lighter;
//   font-family: 'Helvetica Nue', sans-serif;
//   line-height: 1.16666666;
// }

.starter-pack-instruct {
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: lighter;
  font-family: 'Helvetica Nue', sans-serif;
  line-height: 1.3;
  padding: 20px;
  margin: 10px 0;
}

.square-box{
  position: relative;
  width: 50%;
  overflow: hidden;
  background: #2BB24C;
  float: left;
  margin: 10px;
  width: 187px;
}
.square-box:hover {
  background: #249540;
}

.square-box:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.square-content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
}

.square-content div {
 display: table;
 width: 100%;
 height: 100%;
}

.square-box span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 32px;
  font-weight: lighter;
  font-family: 'Helvetica Nue', sans-serif;
  line-height: 1;
  padding: 20px;
  content: 'this';
}

.square-content:hover span {
  content: 'test';
}
