header {
  padding: 29px 0 0 0;
}

header > h1 {
  color: #333333;
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.04em;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

.articles-container {
  display: block;
  margin-top: 30px;
  width: 679px;
  overflow: visible;
}

.article-item {
  display: block;
  height: 106px;
  width: 646px;
  color: #9e9e9e;
  margin-bottom: 20px;
}

.article-item > .article-content {
  width: 427px;
  float: left;
}

.article-item > .article-image {
  width: 206px;
  height: 111px;
  margin-right: 13px;
  background-color: #ccc;
  float: left;
}

.article-content > h2 {
  display: block;
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  margin-bottom: 4px;
  margin-top: 0px;
}

.article-content >.blurb {
  font-size: 13px;
  line-height: 17px;
  max-height: 51px;
  overflow: hidden;
  margin: 4px 0;
}

.article-content > .meta-data {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  display: block;
}

.article-item {
  font-size: 16px;
  overflow-wrap: break-word;
}
