/* CONTROLS */

.sidebar-button {
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgba( 0, 0, 0, 0.15 );
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.sidebar-button:hover {
  border: 1px solid #999
}

/* CATEGORIES */

.categories-container {

}

.categories-list {
  line-height: 28px;
}

.category-item {
  width: 100%;
  display: block;
  font-weight: bold;
}

.category-title {
  float: left;
  text-align: left;
}

.category-title:hover {
  background: rgba(0, 0, 0, 0.05);
}

.category-edit-link {
  margin-left: 200px;
  font-weight: normal;
}

.category-edit-link:hover {
  text-decoration: underline;
}

.list-icon-hide {
    display: block;
    opacity: 0.3;
    width: 28px;
    height: 28px;
    float: left;
    padding-right: 4px;
    -webkit-background-size: 28px 28px;
    background-size: 28px 28px;
    background-image:
      url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2028%2028%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Eright-arrow-dark%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22right-arrow%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20fill%3D%22%23000000%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17.0013568%2C8.00002982%20L10.9997316%2C13.995393%20L17.0007604%2C20%20L18.2662692%2C18.7350875%20L13.5304512%2C13.9962876%20L18.2659711%2C9.26553869%20L17.0013568%2C8.00002982%20Z%22%20id%3D%22Collection---Closed%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2814.633000%2C%2014.000015%29%20rotate%28-180.000000%29%20translate%28-14.633000%2C%20-14.000015%29%20%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

.list-icon-show {
  display: block;
  opacity: 0.3;
  width: 28px;
  height: 28px;
  float: left;
  padding-right: 4px;
  -webkit-background-size: 28px 28px;
  background-size: 28px 28px;
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2028%2028%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%20%20%20%20%20%20%20%20%3Ctitle%3Edown-arrow-dark%3C%2Ftitle%3E%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Icons%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22down-arrow%22%20sketch%3Atype%3D%22MSArtboardGroup%22%20fill%3D%22%23000000%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16.3683414%2C8.63328372%20L10.3667163%2C14.6286469%20L16.367745%2C20.6332539%20L17.6332539%2C19.3683414%20L12.8974358%2C14.6295415%20L17.6329557%2C9.89879259%20L16.3683414%2C8.63328372%20Z%22%20id%3D%22Collection---Closed%22%20sketch%3Atype%3D%22MSShapeGroup%22%20transform%3D%22translate%2813.999985%2C%2014.633269%29%20rotate%28-90.000000%29%20translate%28-13.999985%2C%20-14.633269%29%20%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

/* FEEDS */

.feeds-container {
  display: block;
}

.feed-item {
  display: block;
  height: 28px;
  width: 228px;
}

.feed-name {
  display: block;
  float: left;
  height: 28px;
  width: 168px;
  margin-left: 32px;
  overflow: hidden;
  font-weight: normal;
}

.feed-edit-link {
  display: block;
  float: left;
  width: 23px;
  height: 28px;
  font-weight: normal;
  margin: 0 0 0 0;
}
